@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Oswald:wght@500;700&display=swap');

:root {
  --font-main: 'Inter', sans-serif;
  --font-heading: 'Oswald', sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: #121212;
  /* base-charcoal */
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Custom Utilities for Sarcastic Polish */
@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 20px rgba(255, 107, 0, 0.3);
  }
}